<div class="offScreenMenu">
    <ul class="offScreenList">
        <li><a class="linkedText" href="index.ejs">TOP 10 P4P</a></li>
        <li><a class="linkedText" href="foty.ejs">FOTY Contenders</a></li>
        <li><a class="linkedText" href="foty.ejs">Fight Coverage</a></li>
        <li><a class="linkedText" href="foty.ejs">Articles</a></li>
    </ul>
  </div>
  
  </nav>
  <nav class="navHamburger">
    <div><a href="index.ejs"><img src="imagenes/logo.jpg" width="150px"></a></div>
    <h1 class="headerBurger"><a class="linkedText" href="index.ejs">BOXEO DE ELITE</a></h1>
    <div class="hamMenu">
        <span></span>
        <span></span>
        <span></span>
    </div>
    </nav>