

@media (min-width: 1081px)
{


.navbar {
    display: block;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.navContent {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    
    
}

.navItems {
    margin: 13px;
    font-family: "Bebas Neue", sans-serif;
    font-weight: 500;
    font-style: bold;
    font-size: 2rem;
    text-decoration: none;
}

.navHamburger {
    display: none;
}

.offScreenMenu {
    display: none;
}

.gridInfo{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    row-gap: 30px;
    column-gap: 20px;
}

}


@media (max-width: 1080px)
{


.navbar {
    display: none;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.navHamburger {
    display: flex;
    padding-left: 1rem;
    padding-right: 1rem;
    height: 150px;
    background-color: white;
    align-items: center;
    justify-content: space-between;
    gap: 0.5 rem;
    margin-bottom: 10px;
}

.headerBurger {
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: bold;
    font-size: 4rem;
    text-shadow: grey 1px 0 10px;
    margin-right: 20px;
}

.hamMenu {
    height: 65px;
    width: 65px;
    margin-left: 1rem;
    position: relative;
}

.hamMenu span {
    height: 8px;
    width: 100%;
    background-color: black;
    border-radius: 25px;
    position: absolute;
    top: 40%;
    /* left: 50%; */
    transform: translate(-50%, -50%);
    transition: .3s ease;
}

.hamMenu span:nth-child(1) {
    top: 15%;
}

.hamMenu span:nth-child(3) {
    top: 65%;
}


.navContent {
    width: 100%;
    display: none;
    justify-content: space-evenly;
    align-items: center;
    
    
}

.navItems {
    display: none;
    margin: 30px;
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: bold;
    font-size: larger;
    text-decoration: none;
}

.offScreenMenu {
    background-color: black;
    height: 100vh;
    width: 100%;
    max-width: 550px;
    position: fixed;
    top: 0;
    right: -550px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
    transition: .3s ease;
    
}

.offScreenMenu.active {
    right: 0;
}

.hamMenu.active span:nth-child(1) {
    top: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
    background-color:  red;
}

.hamMenu.active span:nth-child(2) {
    opacity: 0;
}

.hamMenu.active span:nth-child(3) {
    top: 50%;
    transform: translate(-50%, -50%) rotate(-45deg);
    background-color: red;
}

.offScreenList{
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: bold;
    font-size: 2.2rem;
    color: white;
    list-style: none;
    position: relative;
    left: -100px;
    text-shadow: red 1px 0 10px;
    
}

.offScreenList li{
   margin: 40px;
    
}

.gridInfo{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    row-gap: 30px;
    column-gap: 20px;
}


}

@media (max-width: 550px) {

.gridInfo {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    row-gap: 5px;
    margin-right: 10px;
    }

.flexSquaresmall {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 550px;
    height: 1000px;
    background-color: lightgrey;
    border-radius: 5%;
    outline: auto;
    outline-color: darkred;
    margin:10px;
    }
    
}

.gridRow {
    display: contents;
    text-decoration: none;
    color: inherit;
}



.containerSlogan {
    display: flex;
    justify-content: center;
    font-family: "Bebas Neue", sans-serif;
    font-weight: 200;
    font-style: bold;
    font-size: 1.7rem;
    text-shadow: grey 1px 0 10px;
    color: darkred;
    background-color: lightgray;
    margin-bottom: 40px;
    outline: auto;
    
    
}

p {
    padding-top: 25px;
}

.containerHeader {
    display: flex;
    justify-content: center;
    
}

.containerList {
    display: flex;
    justify-content: center;
    background-color: blue;
    overflow: auto;
}

.headerTable{
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: bold;
    font-size: 3rem;
    text-shadow: grey 1px 0 10px;
    
}


.flexTable {
    display: flex;
    justify-content: center;
    
}

.gridTable {
    width: 40%;
    min-width: fit-content;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    gap: 5px;
    margin-left: 5px;
    margin-right: 5px;
    
}


.gridTable > .gridItem {

    max-width: 100%;
    min-width: 50px;
    text-align: center;
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: bold;
    font-size: 0.75rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-content: space-evenly;  
    background-color: lightgrey;
    border-radius: 5px;    
}

.cellItems {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 0.90rem;
    align-content: center;
    margin-right: 15px;
    margin-left: 7px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.fighterName {
    font-family: "Roboto", sans-serif;
    font-weight: 600;
    font-style: normal;
    align-content: center;
    margin-right: 10px;
    margin-left: 10px;
    margin-top: 5px;
    margin-bottom: 5px; 
}



.navItems:hover {
    background-color: darkred;
    border-radius: 3px;
    color: white;
}

.gridItem:hover {
    background-color: grey;
    border-radius: 5px;
    outline: auto;
    outline-width:thin;
    outline-color: darkred;
}

.smallPhoto {
    height: 120px;
    border-radius: 5%;
}

.wins {
    color: green;
}

.loses {
    color: red;
}

.draws {
    color: blue
}

.footerContainer {
    width: 100%;
    display: block;
}

a:active {
    color: black; /* Keep the same color on hover, focus, and active */
    text-decoration: none; /* Ensure no underline on these states */
    outline: none; /* Remove outline on focus (if applicable) */
}

.flexSquarebig {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 400px;
    margin-top: 50px;
    /* background-color:  rebeccapurple; */
    margin-bottom: 50px;
}

.flexSquaresmall {
    display: flex;
    justify-content: center;
    align-items: center;
    width: fit-content;
    height: 1000px;
    background-color: lightgrey;
    border-radius: 5%;
    outline: auto;
    outline-color: darkred;
    margin:10px;
}

.flexSquaresmall > .fighterPhoto {
    width: 250px;
    border-radius: 5%;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 10px;
    box-shadow: 0 0 5px black;
}



.fighterText {
    list-style: none;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.categories {
    list-style: none;
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
}

h3 {
    list-style: none;
    font-family: "Roboto", sans-serif;
    font-weight: 600; 
}

h4 {
    list-style: none;
    font-family: "Roboto", sans-serif;
    font-weight: 600;
}

.linkedText {
    text-decoration: none;
    color: inherit;
}

.buttonsFlexbox {
    display: flex;
    width: 100%;
    justify-content: center;
    gap: 10px;
}

.navigationButtons {
    border-radius: 5px;
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
    box-shadow: black 1px 0 5px;
    width: 100px;
    text-decoration: none;
    color: inherit;
}

.navigationButtons:hover {
    background-color: grey;
    outline: darkred;
}

.commentsFlex {
    margin-top: 40px;
    display: flex;
    justify-content: center;
    width: 100%;
}

.commentsContainer {
    background-color: lightgrey;
    padding: 20px;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    width: 640px;
    box-shadow: 0 0 5px darkred; 
    margin: 10px;
}

.head {
    text-transform: uppercase;
    margin-bottom: 20px;  
    display: flex; 
}

.commentBox {
    display: flex;
    justify-content: space-around;
    padding: 10px;
}

.anonUser {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 20px;
    object-fit: cover;
    object-position: center;
}

.content {
    width: 100%;
}

.user {
    border: none;
    outline: none;
    margin: 5px 0;
    color: rgb(119, 117, 117);
    /* margin-left: 20px; */
    padding: 10px;
    border-radius: 3px;
    background-color: lightgray;
}

.commentInput > input {
    border: none;
    padding: 10px;
    padding-left: 0;
    outline: none;
    border-bottom: 2px solid darkred;
    width: 95%;
    border-radius: 3px;
    margin-bottom: 10px;
    background-color: lightgray;
    color: rgb(119, 117, 117);
}

.buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: lightgrey;
}

.buttons > button {
    padding: 5px 10px;
    color: darkgrey;
    font-weight: 600;
    border-radius: 5px;
    text-transform: uppercase;
    border: none;
    outline: none;
    cursor: pointer;
}

.policy {
    margin: 20px 0;
    font-size: 0.8em;
    font-family: Arial, sans-serif;
    color:rgb(119, 117, 117);
}

.policy a {
    text-decoration: none;
    color: blue;
}

.buttons > button.abled {
    background-color: darkred;
    color: white;
    box-shadow: 0 0 5px black;
}


.parents {
    margin-top: 20px;
    font-family: "Roboto", sans-serif;
    font-weight: 400; 
    display: flex;
    margin-bottom: 30px;
    gap: 0;

}

.parents h1 {
    font-size: 0.9em;
    margin-bottom: -25px;
}

.engagements {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.engagements img {
    width: 20px;
    height: 20px;
}

.engagements img:nth-child(1){
    margin-right: 5px;
}

.date {
    font-family: "Roboto", sans-serif;
    font-weight: 500;  
}

.likesCounter {
    margin-right: 20px;
}



























